{% extends "user/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account_tags %}

{% block body_class %}account account-password-reset{% endblock %}
{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center ">
        <div class="col-md-4 shadow-lg d-flex justify-content-center align-items-center p-5 border border-light rounded">
    <form method="POST" action="">
        <legend>{% trans "Password reset" %}</legend>
        <p class="lead">{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <button>{% trans "Reset my password" %}</button>
        </div>
        <p class="help-text">{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    </form>
    </div>
    </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
