{% extends "user/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block body_class %}account account-password-reset{% endblock %}
{% block head_title %}{% trans "Set your new password" %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center ">
        <div class="col-md-4 shadow-lg d-flex justify-content-center align-items-center p-5 border border-light rounded">
            <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
                <legend>{% trans "Set your new password" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-actions">
                        <button class="btn btn-dark shadow" >{% trans "Save" %}</button>
                    </div>
                </fieldset>
            </form>
    </div>
    </div>
    </div>
{% endblock %}
